.jpg-box {
	height:80px;
	padding: 0,0,0,0;
 	display: table-cell;
 	vertical-align:middle;
 	text-align:center;
}

.jpg-box img {
 	vertical-align:middle;
 	margin-top: 13px;
}

.pic-display {
	height: 160px;
	background-size: 100% 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	opacity: 100%;
}

.cell-div {
	background-size:100% 140px
}
