body {
	background-position: 0 0;
	background-size: 100% 600px;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.face {
	background-color: white;
	opacity: 100%;
	width: 100%;
}

h2,h3,h4,
p {
	font-family: Microsoft YaHei;
}
.jpg-box {
	height:80px;
	padding: 0,0,0,0;
 	display: table-cell;
 	vertical-align:middle;
 	text-align:center;
}

.jpg-box img {
 	vertical-align:middle;
 	margin-top: 13px;
}

.pic-display {
	height: 160px;
	background-size: 100% 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	opacity: 100%;
}

.cell-div {
	background-size:100% 140px
}
